*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --bc-header:#8E9AAF;
    --bc-page: #eff1FF;
}

body{
    background: var(--bc-page);
    font-family: 'Staatliches', cursive;
    margin: auto 0;
}

@media (min-width:900px){
    body{
        height: 100vh;
        display: grid;
        grid-template-areas:
        "A B B"
        "A B B"
        "A C C";
    }

    header{
        min-width: 30rem;
        grid-area: A;
    }

    header .text p{
        color: #FFFFFF;
        background: #8E9AAF;
        padding-top: 3.2rem;
    }

    main{
        grid-area: B;
    }

    main .page{
        grid-template-areas: 
        "A B C"
        "D B F"
        "D E F";
        gap:3.2rem;
        margin: 6.4rem 9.8rem auto;
    }

    .page div:nth-child(1){
        grid-area: A;
    }
    .page div:nth-child(2){
        grid-area: B;
    }
    .page div:nth-child(3){
        grid-area: C;
    }
    .page div:nth-child(4){
        grid-area: D;
    }
    .page div:nth-child(5){
        grid-area: E;
    }
    .page div:nth-child(6){
        grid-area: F;
    }

    .image-settings img{
        max-width: 22rem;
    }

    footer{
        grid-area: C;
        margin:5rem auto 4.6rem;
    }
}

@media (min-width:1200px){
    header{
        width: 40rem;
    }

    header .text p{
        color: #FFFFFF;
        background: #8E9AAF;
        font-size: 2.4rem;
        padding-top: 3.2rem;
    }
}

header{
    background: #8E9AAF;
}

.brand{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3.2rem 0 0;
    gap: 3.2rem;
}

.brand .logo{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width:max-content;
    height: max-content;
}

.logo svg:nth-child(1){
    position: absolute;
    animation: spin 3s 0ms infinite backwards;
}

@keyframes spin{
    35%{
        transition-property: transform;
        transition-delay: 0s;
        transform: rotate(-20deg) translateX(15rem);
        z-index: +1;
    }

    70%{
        z-index: +1;
        transform: rotate(-20deg) translateX(-15rem);
    }
    
    100%{
        transform: rotate(-20deg);
    }
}

.logo svg:nth-child(2){
    position: relative;
}

header h1{
    background: #CBC0D3;
    text-align: center;
    font-style: normal;
    font-size: 4.0rem;
    color: #FFFFFF;
    letter-spacing: 5px;
    text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
    line-height: 3.4rem;
    padding: 0.8rem 0;
}

header img{
    padding: 3.2rem 0;
}

main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.text p{
    margin: 0 auto;
    width: 100%;
    padding: 1.4rem 6.3rem 6.3rem;
    background: var(--bc-page);
    text-align: center;
    font-family: 'Palanquin', sans-serif;
    color: #23053A;
    font-size: 2.0rem;
    line-height: 2.5rem;
}

.page{
    display: grid;
    gap: 3.6rem;
}

.image-settings{
    position: relative;
}

.image-settings img{
    width: 32rem;
    border-radius: 20px;
    position: relative;
    animation-name: up;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes up {
    from{top: 2.0rem; opacity: 0;}
    to {top: 0rem; opacity: 1;}
}

.image-settings label{
    padding: 0 2.4rem 0;
    font-size: 2.0rem;
    color: #4A4E69;
    letter-spacing: 0.05em;
    line-height: 3.4rem;
    background: #FEEAFA;
    border-radius: 2.0rem;
    position: absolute;
    right: 1.6rem;
    top: 1.6rem;
    animation-name: down;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes down {
    from{top:-2rem; opacity: 0;}
    top{top:0rem; opacity: 1;}
}

footer{
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.8rem;
    font-family: 'Open Sans', sans-serif;
}

footer a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}